<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-Italic.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.746406833823-t0sgfkdig2tm22m40n187llhv4mui8ck</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>AppleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.freesbie.glucko</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
